include ../UI/Icon/Icon

mixin WhyWe()
  +b.WhyWe
    +e.content
    +e.UL.list
      +e.item 
        +Icon(`_check _pos_left`)
        |Передовые технологии
      +e.item 
        +Icon(`_check _pos_left`)
        | Дистанционное обучение
      +e.item 
        +Icon(`_check _pos_left`)
        | Живое наставничество
      +e.item 
        +Icon(`_check _pos_left`)
        | Обучение на основе реальных проектов
      +e.item 
        +Icon(`_check _pos_left`)
        | 10-20 часов в неделю
      +e.item 
        +Icon(`_check _pos_left`)
        | Такие же курсы в Калифорнии стартуют от $12,000+
      +e.item 
        +Icon(`_check _pos_left`)
        | Каждый курс - это все, что вам нужно, чтобы начать карьеру. Никаких дополнительных затрат не требуется
