
mixin WhyWe()
  +b.WhyWe
    +e.content
    +e.UL.list
      +e.item Передовые технологии
      +e.item Дистанционное обучение
      +e.item Живое наставничество
      +e.item Обучение на основе реальных проектов
      +e.item 10-20 часов в неделю
      +e.item Такие же курсы в Калифорнии стартуют от $12,000+
      +e.item Каждый курс - это все, что вам нужно, чтобы начать карьеру. Никаких дополнительных затрат не требуется
