include ./FaqItem/FaqItem

mixin Faq()
  +b.Faq
    block
    +e.wrap
      +e.H1.title Часто задаваемые вопросы
      +e.content
        +FaqItem(`Чем вы отличаетесь от других IT-курсов?`, `Это не очередные онлайн-курсы. Это живые курсы с ментором, блекджеком и ІТ с проверкой кода и индивидуальным подходом. Все программы обучения основаны на реальных задачах и приложениях. Вы сможете применять свои знания с первой недели. Мы управляемая сообществом школа. Вы получите доступ к большому комьюнити единомышленников. Мы заботимся о ваших навыках и стиле программирования и помогаем развивать их. Мы гарантируем, что ваша цифровая идея прозрачна для рекрутеров и компаний. В рамках нашей учебной программы мы разрабатываем инструменты с открытым исходным кодом и поддерживаем сообщество с открытым исходным кодом, что ценится в больших компаниях. Это комплексный подход. Вам не понадобятся другие курсы, чтобы получить работу. Ваш возраст и опыт не имеют значения, если вы мотивированы и планируете начать карьеру в качестве разработчика программного обеспечения`)
        +FaqItem(`Какие сертификаты я получу после курса?`, `Мы считаем, что сертификаты ценны для трудоустройства, только если они выпущены такими поставщиками, как Microsoft, Amazon, ScrumAlliance. Однако после курса вы будете готовы показать портфолио готовых продуктов с открытым исходным кодом самостоятельно`)
