include ./MenuToggle/MenuToggle

mixin Menu()
  +b.Menu
    +e.UL.list
      +e.LI.item  
        +e.A.link(href="/") Главная
      +e.LI.item  
        +e.A.link(href="faq.html") FAQ
      +e.LI.item  
        +e.A.link(href="courses.html") Курсы
      +e.LI.item  
        +e.A.link(href="login.html") Войти
  +MenuToggle()
