include ./ReviewItem/ReviewItem.pug
include ./ReviewThumb/ReviewThumb.pug

mixin Reviews()
    +b.Reviews
      +e.H2.title О нас говорят
      +e.wrap.swiper-container
        +e.content.swiper-wrapper
          +ReviewItem(`Skillcrucial бросает вызов. Каждая задача: функционально стилизованный код, React, CSS, API, Node. Мне не нужно идти на 6 различных курсов, полный курс Skillcrucial учит меня всему в одном месте. Это не игрушечная школа 'Привет, мир' - это реально.`, `Алексей Флавицкий, проект-менеджер`)
          +ReviewItem(`Я училась и работала бухгалтером в течение 14 лет. Однажды я начала понимать, что я не довольна своей работой, поэтому я решила попробовать себя в какой-то творческой сфере, где я могу сразу увидеть результаты. Я попробоваа себя в дизайне пользовательского интерфейса и разметке HTML. Случайно нашла немного о курсе React от SkillCrucial и решила попробовать. После этого я начала карьеру в качестве младшего разработчика в одной известной IT-компании. Я все еще учусь и ожидаю отличных результатов от этого курса. Это не просто сложно, это невероятно увлекательно.`, `Яна Драчева, главный бухгалтер`)
      +e.thumbs.swiper-container
        +e.thumbsWrap.swiper-wrapper
          +ReviewThumb(`../../assets/img/aleksey.webp`)
          +ReviewThumb(`../../assets/img/yana.webp`)
