include ./ProgressItem/ProgressItem.pug

mixin Progress()
  +b.Progress
    +e.content
      +ProgressItem(`Студенты`, 722)
      +ProgressItem(`Минимальный возраст студентов`, 14)
      +ProgressItem(`Максимальный возраст`, 65)
      +ProgressItem(`Разнообразие специальностей`, 97)
