mixin Social()
  +b.Social
    +e.wrap
      +e.item(href="#")
        +b.I.fa.fa-twitter
      +e.item(href="#")
        +b.I.fa.fa-linkedin
      +e.item(href="#")
        +b.I.fa.fa-medium
      +e.item(href="#")
        +b.I.fa.fa-pinterest
