mixin Social()
  +b.Social
    +e.wrap
      +e.item(href="#")
        +Icon(`_size_lg`)
          include ../../assets/img/icon/social/twitter-brands.svg  
      +e.item(href="#")
        +Icon(`_size_lg`)
          include ../../assets/img/icon/social/linkedin-brands.svg
      +e.item(href="#")
        +Icon(`_size_lg`)
          include ../../assets/img/icon/social/medium-brands.svg
      +e.item(href="#")
        +Icon(`_size_lg`)
          include ../../assets/img/icon/social/pinterest-brands.svg
