extends ../layout.pug 

include ../../components/Banner/Banner.pug
include ../../components/Slider/Slider.pug
include ../../components/Progress/Progress.pug

block content
  +Banner()
  +Slider()
  +e.section
    +b.row
      +e.item
        +Progress()
