extends ../layout.pug 

include ../../components/Banner/Banner.pug
include ../../components/Slider/Slider.pug
include ../../components/Progress/Progress.pug
include ../../components/Goals/Goals.pug
include ../../components/WhyWe/WhyWe.pug

block content
  +Banner()
  +Slider()
  +e.section
    +Row()
      +e.item
        +e.header
          +e.subtitle Статистика
          +e.H3.title Прогресс
        +Progress()
      +e.item
        +e.header
          +e.subtitle Видение
          +e.H3.title Наша цель
        +Goals()
      +e.item
        +e.header
          +e.subtitle Чек-лист
          +e.H3.title Почему мы
        +WhyWe()

