.Button {
  padding: 1rem 2rem;
  color: $color_text;
  border: 1px solid #ddd;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s ease;
  &:hover {
    text-decoration: none;
  }

  svg {
    width: 1.6rem;
    display: inline-block;
    vertical-align: middle;
  }
}
.Button_link {
  border: none;
  padding: 1rem 0;
  &:hover {
    text-decoration: underline;
  }
}
.Button_size_lg {
  font-size: 2rem;
  padding: 1.5rem 3rem;
}
.Button_icon_right {
  svg {
    margin-left: 3rem;
  }
}
.Button_icon_left {
  svg {
    padding-right: 3rem;
  }
}
.Button_action {
  background: $color_button;
  color: $color_white;
  border: 1px solid darken($color: $color_button, $amount: 5);
  &:hover {
    background: darken($color: $color_button, $amount: 5);
  }
  &:active {
    background: darken($color: $color_button, $amount: 10);
  }
}
