
mixin About()
  +b.About
    +e.content
      +e.P.text Мы предоставляем высококачественное IT-образование людям из разных стран мира.
      +e.P.text Текущие курсы: Javascript, React, PWA, Node, Blockchain, QA, Рабочая этика
