.FaqItem {
  color: $color_white;
  margin-bottom: 6rem;
}
.FaqItem-question {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.FaqItem-answer {
  font-size: 2rem;
  line-height: 1.5;
  padding-left: 2rem;
}
