.Icon {
  display: inline-block;
  vertical-align: middle;
}
.Icon_arrow {
  background: url('../assets/img/icon/arrow-right-solid.svg');
  background-size: cover;
  background-position: no-repeat;
  width: 1.9rem;
  height: 1.9rem;
}
.Icon_check {
  background: url('../assets/img/icon/check-solid.svg');
  background-size: cover;
  background-position: no-repeat;
  width: 1.9rem;
  height: 1.9rem;
}
.Icon_pos_right {
  margin-left: 1rem;
}
.Icon_pos_left {
  margin-right: 1rem;
}
