include ./CoursesItem/CoursesItem.pug

mixin Courses()
  +b.Courses
    +CoursesItem(`FullStack: React JS / Node`, `Начало: 17 февраля 2020`, `Языки: английский / русский`, `IT-образование не требуется`, 
    [
      {title: 'COMPUTER SCIENCE', list: ['Структуры данных', 'Архитектура приложений', 'Как работает Веб', 'Написание простого в обслуживании кода', 'Безопасность вашего приложения']}, 
      {title: 'WEB', list: ['Dom-модель. Как работает браузер', 'HTML 5', 'CSS 3', 'Адаптивные веб-сайты', 'Bootstrap', 'CSS препроцессор', 'Проверка html', 'Accessibility', 'Анимация']},
      {title: 'JAVASCRIPT', list: ['Основы Javascript', 'Функциональный Javascript', 'ES6 - ES8', 'Паттерны Javascript']},
      {title: 'REACT', list: ['Экосистема React', 'React хуки', 'Жизненный цикл компонентов React', 'Память и управление данными - Redux', 'Оптимизация скорости React приложения']},
      {title: 'FRONT-END', list: ['Хранилища данных браузера', 'Вебсокеты - живые приложения', 'Прогрессивные веб-приложения', 'Оптимизация Webpack', 'Графики, визуализация данных', 'Deploy & CI']},
      {title: 'BACK-END', list: ['Как работает node js', 'Как написать Api с помощью Node и Express Js', 'Основы mongodb', 'Вебсокеты и сессии', 'Back-End архитектура: Monolith, Microservices, Serverless', 'Как масштабировать серверы', 'Облака как хранилище данных', 'Облачное развертывание', 'Тестирование']},
      {title: 'QA', list: ['Руководство QA', 'Интеграционные тесты на базе Headless-браузеров', 'Отладка Javascript']},
      {title: 'PRODUCT', list: ['Сбор данных о поведении пользователя', 'Ваши метрики продукта']},
      {title: 'РАЗРАБОТКА', list: ['Task Management', 'Введение в Scrum', 'Система контроля версий кода - GIT', 'Редакторы кода. Как быть более продуктивным']},
      {title: 'ЭТИКА', list: ['Кто есть кто в IT. Заинтересованные стороны', 'Здоровые и нездоровые ситуации и как их разрешить', 'Подготовка вашего цифрового следа', 'Как подготовиться к собеседованию', 'Как искать работу', 'Список вопросов, которые нужно знать для собеседования']}
    ], true)
      +Background(`bg.webp`)._absolute
    +CoursesItem(`BlockChain`, `Начало: будет объявлено позднее`, `Язык: русский`)
      +Background(`bg-blockchain.webp`)._absolute









