.MenuToggle {
  width: 3rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.MenuToggle span {
  width: 3rem;
  height: 2px;
  background-color: rgb(35, 78, 82);
  display: block;
  -webkit-transition: background-color 0.2s, z-index 0.6s,
    -webkit-transform 0.3s;
  transition: background-color 0.2s, z-index 0.6s, -webkit-transform 0.3s;
  transition: background-color 0.2s, transform 0.3s, z-index 0.6s;
  transition: background-color 0.2s, transform 0.3s, z-index 0.6s,
    -webkit-transform 0.3s;
  overflow: hidden;
}
.MenuToggle span:nth-of-type(2) {
  margin-top: 6px;
  margin-bottom: 6px;
}
.MenuToggle:hover span {
  background-color: #666;
}

@media screen and (min-width: $sm_down) {
  .MenuToggle {
    display: none;
  }
}
