
mixin SliderItem(subtitle, title, texts, img)
  +b.SliderItem.swiper-slide
    +e.left
      +e.H4.subtitle= subtitle
      +e.H2.title= title
      for text in texts
        +e.text= text
    +e.right
      img(src=img, alt=title)
