.ProgressItem {
  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}
.ProgressItem-progress {
  background-color: #d7d7d7;
  min-height: 3px;
  height: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
}
.ProgressItem {
  display: flex;
  flex-wrap: wrap;
}
.ProgressItem-bar {
  width: 0%;
}

.ProgressItem-bar {
  height: 100%;
  background: $color_accent;
}
.ProgressItem-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2rem;
}
.ProgressItem-count {
  font-weight: bold;
}
