.Background {
  position: relative;
  background: rgba(0, 0, 0, 0.8) no-repeat 50%;
  background-attachment: scroll;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
}
.Background-wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Background_absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.Background_initial {
  background: none;
  background-size: cover;
  background-position: center;
}
