mixin Goals()
  +b.Goals
    +e.content
      +e.text Мы предоставляем высококачественное образование людям, которые ранее не входили в IT-индустрию. Мы верим, что каждый может начать карьеру в IT с высоким уровнем навыков, широкими знаниями и очень хорошей этикой работы. Мы верим в открытый исходный код, поэтому наш вклад в сообщество разработчиков dev/open-source является частью нашего образования. Мы учим Javascript, React, React Native, Node, Mongo Database, PWA, Blockchain, Solidity, Go и т. д.
