include ./SliderItem/SliderItem.pug

mixin Slider()
  +b.Slider.swiper-container
    +e.wrap.swiper-wrapper
      +SliderItem(`Передовые технологии`, `Актуальные знания`, [`Большинство студентов удивлены, что не могут найти подходящую литературу, поскольку все, что есть на рынке, уже устарело. Технологии меняются очень быстро, и очень важно быть в курсе, если вы хотите стать успешным разработчиком программного обеспечения. Мы быстро меняем курс и задачи в соответствии с изменяющимися технологиями, а также новыми выпусками стандартов и библиотек.`], `../../assets/img/skillcrucial-community.webp`)
      +SliderItem(`Это реально`, `Не 'Hello World' курсы`, [`Наши наставники - высококвалифицированные разработчики программного обеспечения, которые работали в банках, финтех, инфраструктурных компаниях и компаниях электронной коммерции.`, `Наши курсы основаны на мыслях о реальных бизнес-задачах, которые приходится решать ежедневно. Мы концентрируемся на обучении новым технологиям, а также рабочей этике, цифровому присутствию в сети, командной работе, подготовке к собеседованию, и т.д`], `../../assets/img/skillcrucial-technologies.webp`)
      +SliderItem(`Стремление к совершенству`, `Живое наставничество`, [`Это не курс, где вы покупаете видео и размещаете домашнее задание на форуме. У вас будет живой наставник, который расскажет вам, как улучшить ваш код, где есть пробелы и объяснит то. что вы пока не понимаете. С таким подходом вы будете учить очень сложные вещи за небольшой промежуток времени. Ваш успех - наша работа.`], `../../assets/img/skillcrucial-mentorship.webp`)
